#categories_container .categories_block {
  display: inline-block;
  width: 200px;
  border: 1px solid #FF8000;
  margin: 15px;
  padding: 10px;
  text-align: left;
  font-size: 10px;
}

div.wrap h3 {
  color: #FF8000;
}